 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .copyright{
      padding: 10px;
  }
 
  .staggeredList{
      margin-top: 50px; 
  }

  .staggeredListItem{
      margin-top: 50px; 
  }

.NumberHead{
      margin-top: 80px; 
      margin-bottom: 30px;
  }

.toastBtn{
    margin-top: 15px; 
}

.modalThing{
    margin-top:15px;
}